<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="form-header text-uppercase">
                        Withdrawal Request
                    </h4>
                    <form [formGroup]="bankTransferForm">
                        <div class="alert alert-dismissible alert-icon-info px-0 pb-0" role="alert">
                            <div class="alert-message alert alert-info">
                                <span><strong>Wallet Balance : </strong>{{userPaymentDetails?.earnWallet || 0}}</span>
                            </div>
                        </div>

                        <!-- Transaction Amount Field -->
                        <div class="form-group row">
                            <label for="transactionAmount" class="form-label">Amount</label>
                            <div>
                                <input type="text" class="form-control" id="transactionId"
                                    formControlName="transactionAmount" placeholder="Enter Withdrawal amount"
                                    required="required">
                            </div>

                            <div>
                                <div *ngIf="bankTransferForm.get('transactionAmount')?.invalid && bankTransferForm.get('transactionAmount')?.touched"
                                    class="error-message text-danger">
                                    Withdrawal amount is required and must be $5.
                                </div>
                                <div *ngIf="bankTransferForm.hasError('amountExceeds') && bankTransferForm.get('transactionAmount')?.touched"
                                    class="error-message text-danger">
                                    Withdrawal amount must not exceed total amount.
                                </div>
                            </div>
                        </div>

                        <!-- Transaction ID Field -->
                        <div class="form-group row">
                            <label for="transactionId" class="form-label">Transaction ID</label>
                            <div>
                                <input type="text" class="form-control" id="transactionId"
                                    formControlName="transactionId" placeholder="Enter transaction ID"
                                    required="required">
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success"
                                (click)="onSubmitWithdrawal()">Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>