<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        AI-Magic Power
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Sign up</b></h3>
            <a [routerLink]="['/login']" class="link-primary">Already have an account?</a>
          </div>
          <form [formGroup]="signupForm" (ngSubmit)="register()">
            <div class="form-group mb-3">
              <label class="form-label" for="name">User Name*</label>
              <input type="text" class="form-control" formControlName="name" placeholder="User Name" />
              <div *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid" class="text-danger">
                User name is required
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="emailAddress">Email Address*</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email Address" />
              <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="text-danger">
                Valid email is required
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Password*</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password" />
              <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
                class="text-danger">
                Password is required
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="mobile">Mobile Number*</label>
              <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile Number" />
              <div *ngIf="signupForm.get('mobile')?.touched && signupForm.get('mobile')?.invalid" class="text-danger">
                Valid mobile number is required
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="referralCode">Referral Code</label>
              <input type="text" class="form-control" formControlName="referralCode" placeholder="Referral Code" readonly />
            </div>

            <p class="mt-4 text-sm text-muted">
              By Signing up, you agree to our
              <a href="javascript:" class="text-primary">Terms of Service</a>
              and
              <a href="javascript:" class="text-primary">Privacy Policy</a>
            </p>

            <div class="d-grid my-3">
              <button type="submit" class="btn btn-primary" [disabled]="loading">Create Account</button>
            </div>
          </form>

          <!-- Loader -->
          <div *ngIf="loading" class="text-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <!-- Error Message -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>

          <!-- Success Message -->
          <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="packageModal" #packageModal tabindex="-1" aria-labelledby="packageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="packageModalLabel">Welcome {{userInfo?.name}} 😊</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p class="modal-title" id="packageModalLabel">Thank you for selecting AI Magic Power Family !!!</p>
          <p>Please rember you MenmerId {{userInfo?.userId}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-48" (click)="closeModal()">Go to Login</button>
      </div>
    </div>
  </div>
</div>