<div class="transfer-card card">
  <div class="card-body">
    <form [formGroup]="internalTransferForm">
      <div class="form-grid">
        <!-- Total Amount Display -->
        <div class="form-group">
          <span for="totalAmount">Wallet Balance: </span>
          {{userPaymentDetails?.earnWallet}}
        </div>

        <div class="form-group">
          <label for="memberId">Member Id</label>
          <input class="form-control" id="memberId" type="text" formControlName="memberId" placeholder="Enter Member Id"
            (blur)="onMemberIdBlur()" />
          <div *ngIf="InvaliedUser" [ngClass]="InvaliedUser =='Mamber Id not found.'?'text-danger':'text-primary'">
            <strong>{{InvaliedUser}}</strong>
          </div>
        </div>

        <!-- Coin (Amount) -->
        <div class="form-group">
          <label for="transactionAmount">Amount</label>
          <input type="number" class="form-control" id="transactionAmount" formControlName="transactionAmount"
            placeholder="Enter transfer amount">
          <div
            *ngIf="internalTransferForm.get('transactionAmount')?.invalid && internalTransferForm.get('transactionAmount')?.touched"
            class="text-danger">
            Amount is required.
          </div>
          <div *ngIf="transactionAmountExceeds()" class="text-danger">
            Insufficient Balance.
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#packageModal"
          (click)="openShareDialog()"
          [disabled]="internalTransferForm.invalid || transactionAmountExceeds()">Transfer</button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="packageModal" tabindex="-1" aria-labelledby="packageModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="packageModalLabel">P2P Wallet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p>Are you sure you want to transfer the amount?</p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger w-48" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary w-48" (click)="onInternalSubmit()">Transfer</button>
      </div>
    </div>
  </div>
</div>