<div class="container card">
  <h5 class="my-3">{{ this.cookies.isAdmin() ? 'Today AI Trade' : 'AI Income' }} Report</h5>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Table/Card Layout -->
  <div *ngIf="!loading" class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>DATE</th>
          <th>USER ID</th>
          <th>NAME</th>
          <th>AMOUNT</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of filteredTrans | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td data-label="DATE">{{ payment?.createdAt | date: 'short' }}</td>
          <td data-label="USER ID">{{ payment?.userId }}</td>
          <td data-label="USER NAME" class="text-capitalize">{{ payment?.userName }}</td>
          <td data-label="AI EARNING" class="text-capitalize">{{ payment?.aiEarning }}</td>
          <td data-label="STATUS" class="text-capitalize">{{ payment?.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="page = $event" class="d-flex justify-content-end"></pagination-controls>
</div>