<div class="container card pb-3">
  <h5 class="my-3">User Info</h5>

  <!-- Success Message -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- Search Input -->
  <input type="text" class="form-control mb-3" placeholder="Search by name or email" [(ngModel)]="searchQuery"
    (input)="filterUsers()">

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- User Table -->
  <div *ngIf="!loading" class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>USER ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <th>Referral Code</th>
          <th>STATUS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td data-label="USER ID">{{ user.userId }}</td>
          <td data-label="NAME">{{ user.name }}</td>
          <td data-label="EMAIL">{{ user.email }}</td>
          <td data-label="PHONE">{{ user.mobile }}</td>
          <td data-label="Referral Code">{{ user.referralCode }}</td>
          <td data-label="STATUS" class="text-capitalize">
            <span class="d-block">
              <i class="badge-circle {{ user.status }} f-10 m-r-5"></i>
              {{ user.status }}
            </span>
          </td>
          <td data-label="ACTIONS" class="dropdown pc-h-item header-user-profile" ngbDropdown>
            <a class="pc-head-link dropdown-toggle arrow-none me-0 px-4" ngbDropdownToggle>
              <i class="text-muted" antIcon theme="outline" type="more"></i>
            </a>
            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
              <div>
                <a class="dropdown-item" (click)="viewUserDetails(user)">
                  <i class="text-muted" antIcon theme="outline" type="user"></i>
                  <span>Profile</span>
                </a>
              </div>
              <div>
                <a class="dropdown-item" (click)="goToPaymentDetails(user.userId)">
                  <i class="text-muted" antIcon theme="outline" type="setting"></i>
                  <span>Payment</span>
                </a>
              </div>
              <div>
                <a class="dropdown-item" (click)="deleteUser(user.userId)">
                  <i class="text-muted" antIcon theme="outline" type="delete"></i>
                  <span>Delete</span>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination Controls -->
    <pagination-controls (pageChange)="page = $event" class="d-flex justify-content-end"></pagination-controls>
  </div>
</div>
