.pending {
  background-color: #ffc107 !important;
}
.admin {
  background-color: #ff0707 !important;
}
.active {
  background-color: #28a745 !important;
}

.badge-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.user-details {
  p {
    display: flex;
    b {
      display: flex;
      width: 40%;
    }
  }
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
thead {
  tr {
    th {
      &:first-child {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }
    }
  }
}

table {
  .dropdown-item i{
    position: relative;
    bottom: 1px;
    margin-right: 8px;
  }
}
